<header>
    <nav class="navbar navbar-expand-lg " style="background-color:skyblue">
        <div><a href="https://www.familyportal.com" class="navbar-brand">FamilyPortal</a></div>

        <ul class="navbar-nav">
            <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/welcome/familyportal" class="nav-link"> Home</a></li>
            <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/todo" class="nav-link">Todos</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!authenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    
    </nav>
</header>
